
  .content {
    flex-grow: 1; /* Ensures that the content area takes up the remaining space */
    /* Add padding, margins, and other styles as needed */
  }
  
/* Layout for the entire app */
.App {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
  }
  
  
  /* Style for the main content area */
  .content {
    flex-grow: 1; /* Take up remaining space */
    padding: 1rem; /* Add padding around the content */
  }
  
  