.cart-summary {
    width: 300px; /* Or whatever width you prefer for the sidebar */
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #f0f0f0; /* Light gray background, adjust as needed */
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transform: translateX(100%); /* Start off-screen */
    transition: transform 0.3s ease-in-out;
  }
  
  /* Add additional styles for expanded and collapsed states */
  .cart-summary.expanded {
    transform: translateX(0); /* Move into view */
  }

  .cart-summary button {
    border: 1px solid #3c0101;
    border-radius: 4px;
    background-color: #e5d5d590;
    color: rgb(81, 0, 0);
    padding: 5px 10px;
    align-self: flex-end; /* Align button to the bottom right */
    font-size: 10px;
  }
  