/*  Removing defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

/* Palette for colors */
:root {
  --primary: #6f0101;
  --secondary: #a22b2b;
  --complementary: #007f5f;
  --coolcomplementary: #005f73;
  --accent: #ffb703;
  --brightaccent: #ffba08;
  --white: #ffffff;
  --black: #000000;
  --lightgrey: #f8f9fa;
}