.product-card {
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
  box-shadow:rgba(0, 0, 0, 0.5) 0px 0px 10px;
  padding: 10px;
  text-align: center;
  width: 200px;
  height: 300px;
  margin: 10px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--black);
}

.product-card:hover {
  box-shadow: 0 1px 10px var(--black);
}

.product-card img {
  max-width: 150px;
  height: 150px;
  margin: 0 auto;
}

.product-card img:hover {
  cursor: pointer;
  color:rgba(183, 0, 0, 0.5)
}
  
  .product-card img.enlarged {
    position: fixed; /* Fixed positioning relative to the viewport */
    left: 50%; /* Center horizontally */
    top: 50%; /* Center vertically */
    transform: translate(-50%, -50%) scale(3); /* Adjust position and scale */
    z-index: 10; /* Ensure it's above the overlay */
    cursor: pointer;
    box-shadow: 1px 1px 10px #1b1b1b;
  }

  .product-card h3 {
    margin: 0.5em 0;
    font-size: .75em;
    line-height: 1.2em;
    height: 3em; /* Adjust based on your content */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Show ellipsis after 2 lines */
  }
  
  .product-card p {
    margin-bottom: 10px;
  }
  
  .product-card button {
    border: 1px solid var(--primary);
    border-radius: 4px;
    background-color: var(--secondary);
    color: rgb(255, 221, 221);
    padding: 5px 10px;
    align-self: flex-end; /* Align button to the bottom right */
    font-size: 10px;
  }

  .product-card button:active {
    background-color: var(--primary);
    color: var(--white);
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9; /* Below the enlarged image but above everything else */
    cursor: pointer;
  }
  