.sidebar {
    position: fixed; /* Fixed positioning relative to the viewport */
    top: 0; /* Place the bar 200px from the top of the viewport */
    right: 0; /* Align to the right side */
    width: 150px; /* Width of the sidebar */
    height: 100vh; /* Full height of the viewport */
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
    z-index: 100; /* Ensure it sits above other content */
    padding: 20px;
    padding-right: 0px;
    margin-right: 0px;
    opacity: 0.4;
  }

.sidebar button {
    border: 1px solid #8b2020;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    margin-top: -10px;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    color: rgb(51, 1, 1);
    background-color: #a2848477;
    opacity: 1;
  }
  
  .sidebar.expanded {
    width: 300px; 
    opacity:1;
    background-color: white;
    box-shadow: 1px 1px 10px #1b1b1b;
    top: 0px;
    }

    .sidebar button:hover {
      background-color: #a28484;
      color: rgb(51, 1, 1);
    }

    .sidebar button img {
      height: 30px;
      width: 30px;
      filter: invert(100%)
    }


  